<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">YouJot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/about">About</a>
            </div>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Post Ideas</a>
                    <div class="dropdown-menu">
                        <a href="/ideas" class="dropdown-item">Ideas</a>
                        <a href="/ideas/add" class="dropdown-item">Add Idea</a>
                    </div>
                </li>
                <a class="nav-item nav-link" href="/users/logout">Logout</a>
                {{else}}
                <a class="nav-item nav-link" href="/users/login">Log In</a>
                <a class="nav-item nav-link" href="/users/signup">Sign Up</a>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>