<div class="container">
    <div class="row justify-content-md-center">

      <div class="card col-md-4 p-0">
        <div class="card-header bg-warning">
          Error 401: Unauthorised Access
        </div>

        <div class="card-body">
          <p class="card-text">You are not authorized to view this page. Access is denied due to invalid credentials. You do not have permission to view this directory or page using the credentials you supplied or didn't.</p>
        </div>

        <div class="card-footer text-muted">
        Contact your administrator for assistance
        </div>
      </div>

    </div>
  </div>
